html{
    background-color: #f3f3f3;
}
header h1{
    float: left;
	font: normal 24px/1.5 'Open Sans', sans-serif;
	color: #fff;
    font-size: 18px;
}
h1{
    font-size: 16px;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
    font: normal 24px/1.5 'Open Sans', sans-serif;
	color: #378f39;
}

/* Styling of table UI begins*/
.form-table{
    display:block;
    position:center;
    width:100%
}
#htmlgrid {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left:500px
}

#htmlgrid td, #stock th {
    border: 1px solid #ddd;
    padding: 8px;
}

#htmlgrid tr:nth-child(even){background-color:#a6d8cc;}

#htmlgrid tr:hover {background-color: #ddd;}

#htmlgrid th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0f5c55;
    text-decoration-color:white;
}
#htmlgrid td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-size: 16px;
}


td.number {
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
	white-space: nowrap;
}

td.number.nan {
	font-weight: normal;
	color: #AAA;
}

th.number {
	text-align: right;
}

td.boolean {
	text-align: center;
}

th.boolean {
	text-align: center;
}

