<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>User profile</title>
   
    <link rel="stylesheet" media="all" href="user-profile-1.css">
</head>

<body class="article">
    <header class="main" id="siteheader">
        <nav id="sitenav">
            <ul>
                <li><a href="link to home page" class="home">Home</a></li>
                <li><a href="link to view books" class="archives">View Archives</a></li>
                <li><a href="link to login page/home page" class="home">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="body-content">
        <section class="title">
            <section class="title-text container">
                <h1>WELCOME TO HELLO-BOOKS USER</h1>
            </section>
        </section>
        <article class="content-wrapper">
            <section class="container">
                <div class="article-meta" id="article-meta" style="top: auto;">
                    <nav class="toc">
                        <h1>My Profile</h1>
                        <ul>
                            <li><a href="link to change password">Change password</a></li>                    
                        </ul>
                    </nav>
                    <aside class="localizations">
                        <h1>My Archive</h1>
                        <ul>
                            <li><a href="link to viiew books">Vew books</a></li>
                            <li><a href="link to add book">Contribute book</a></li>
                            <li><a href="link to return book">Unreturned books</a></li>
                            <li><a href="link to borrowing history">Borrowing history</a></li>
                        </ul>
                    </aside>
                </div>

                <div class="content" id="article-content">
                    <section class="byline">
                        <div class="byline-content">

                            <section class="author-images">
                                    <img src="user-default128x128.png">                           
                            </section>
                            <section class="meta">
                                <div class="authors">
                                    <strong>Name of user</strong>
                                </div>
                                <div>
                                    <span><i>My status:</i></span>
                                </div>
                                <div>
                                    <span><strong>Membership level:</strong><i>"user membership level"</i></span>
                                </div>
                            </section>
                            <div class="clear"></div>
                        </div>
                    </section>
                    <ul>
                        <li>About me</li>
                    </ul>
                    <p>---------------------so many things to say about me and reading</p>
                </div>
            </section>
        </article>
        </div>

        <footer>
            <div class="container">
                <h1><a href="feedback link message admin or make request">Feedback</a></h1>            
            </div>
        </footer>
</body>
</html>