<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>User profile</title>
    <link href="user-profile.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--header start-->
    <div id="header" class="section">
        <img alt="" class="img-circle" src="images/user-default128x128.png">
        <p>welcome User name</p>
    </div>
    <!--header end-->

    <!--info to user section start-->
    <div class="section">
        <p>
          <i>Check out the books in our archive and select your preferred choice</i> 
        </p>
        <p class="quote">'-Hello books'</p>
    </div>
    <!--Info to user section end-->

    
    <!--My borrowed list section start-->
    <div class="section" >
        <h1><span>Available books</span></h1>
        <ol>
            <li>
                <p>
                    <input type="checkbox" id="item1" />
                    <label for="item1">BOOK 1</label>
                </p>
            </li>
            <li>
                <p>
                    <input type="checkbox"id="item2" />
                    <label for="item2" >BOOK 2</label>
                </p>
            </li>
            <li>
                <p>
                    <input type="checkbox"id="item3" />
                    <label for="item3">BOOK 3</label>
                </p>
            </li>
        </ol>
        <form>
            <input type="submit" value="SUBMIT" class="submit" />
        </form>
    </div>
    <!--My borrowed list section end-->

   
</body>
</html>