node_modules/
package.json
package-lock.json
client/node_modules
client/package.json
client/package-lock.json
tmp/middlewares-test/
server/email/sendEMail.js
check.js
npm-debug.log
testauth.js
testk.json
author.test.js
mock.js
views
code.js