$font-size: 15px;
$display: inline-block;
$font-weight: bold;
$button-width: 40%;
%btn-style-shared {
    color: rgb(244, 247, 250);
    background-color: #64419C;
    font-size: 15px;
    font-weight: $font-weight;
    padding-right: 25px;
    padding-left: 25px;
    border: 0;
    border-radius: 0;
}

%search-style-shared {
    height: 100%;
    margin-top: 6px;
    margin-left: 0;
}


/**Custome styling for sidebar component*/

.sidebar-toggle-button {
    display: $display;
    padding: 5px 0 0 0;
    width: 100%;
    .btn {
        @extend %btn-style-shared;
        &-l {
            width: $button-width
        }
        &-r {
            width: 100%-$button-width;
        }
    }
}

.active {
    color: #2D0C37 !important;
    background-color: #967DBD !important;
}

hr {
    margin: 4px 0px 4px 0px
}

%sidebar-style-common {
    font-size: 15px;
    font-weight: bold;
    color: rgb(75, 12, 46)
}

@mixin sidebar-views($float, $margin-left) {
    @extend %sidebar-style-common;
    float: $float;
    margin-left: $margin-left
}

.admin-sidebar {
    text-align: center;
    border: 0;
    padding: 10px 0px 0px 0px;
    background-color: #B3B3B3;
    height: 700px;
    &>.btn {
        width: 200px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: $font-weight;
        font-size: 20px;
        background-color: #3075A5;
        color: white;
        &:hover,
        &:active {
            background-color: white;
            color: #3075A5;
        }
    }
    .scrollbar {
        float: left;
        height: 400px;
        width: 100%;
        background: #F5F5F5;
        overflow-y: scroll;
        margin-bottom: 25px
    }
    .force-overflow {
        min-height: 500px
    }
    #wrapper {
        text-align: center;
        width: 100%;
        height: 62%;
        margin: auto;
        padding: 4px
    }
    .dropdown {
        float: right;
        a:hover {
            color: white;
            background-color: rgb(9, 60, 83);
        }
    }
    #sidebar-views {
        text-align: center;
        width: 100%;
        span {
            @include sidebar-views(left, 25%);
            margin-top: 5px;
            &:hover {
                cursor: pointer
            }
            p {
                @include sidebar-views(right, 20px);
            }
        }
    }
}


/**Custom styles for search component*/

.search-container {
    float: left;
    min-width: 200px;
    width: 50%
}

.glyphicon-search {
    @extend %search-style-shared;
    font-size: $font-size*1.5;
    background-color: rgb(9, 60, 83);
    color: white;
    padding: 1px 5px 0 5px;
    width: 50px;
    border-radius: 0 5px 5px 0;
    float: left
}

.search-input {
    @extend %search-style-shared;
    border-radius: 5px 0 0 5px;
    width: 70%;
    float: left
}

@mixin badge ($membership-value) {
    @if $membership-value=='platinum' {
        background-color: whitesmoke
    }
    @if $membership-value=='silver' {
        background-color: silver
    }
    @if $membership-value=='gold' {
        background-color: gold
    }
}

@each $membership-value in platinum,
silver,
gold {
    .badge-#{str($membership-value)} {
        @include badge($membership-value)
    }
}

%center-vertically {
    display: table-cell;
    vertical-align: middle;
}

%img-common-style {
    @extend %center-vertically;
    float: left;
    margin-right: 5px;
}

%span-common-style {
    @extend %center-vertically;
    font-size: 18px;
    color: #206581;
    height: 50px
}

@mixin align($align) {
    display: table;
    text-align: $align
}

.user-avatar {
    @include align(center);
    float: right;
    img {
        @extend %img-common-style;
        &:hover {
            cursor: pointer
        }
    }
    span {
        @extend %span-common-style
    }
}

#user-options {
    &>li {
        @include align(left);
        padding: 0;
        margin: 2px 0 2px 0;
        width: 100%;
        &>a {
            font-weight: bold;
            &:hover {
                color: white;
                background-color: rgb(9, 60, 83);
            }
        }
        img {
            @extend %img-common-style;
            margin-left: 7px
        }
        span {
            @extend %span-common-style;
            font-style: italic;
            padding: 0 9px 12px 7px;
            p {
                margin: 0;
                padding: 0
            }
        }
    }
}

.navbar {
    .dropdown {
        margin-top: 27px
    }
}